doctype html
html
  head
    title= title
    link(rel='stylesheet', type="text/css", href='/stylesheets/style.css')
    link(rel='stylesheet', type="text/css", href='/bootstrap/bootstrap.min.css')
  body.bgbody
    nav.navbar.fixed-top.navbar-light.bg-light.justify-content-between
      a(class="navbar-brand" href="#") Weather online API
      form(class="form-inline" method='POST' action='')
        input#location_search(class="form-control mr-sm-2" type="search" placeholder="Search" name ="location_search" aria-label="Search" )
        button(class="btn btn-outline-success my-2 my-sm-0" type="submit") Search
    block content

    footer(class="footer")
      p(class="text-center") By Christelle
